/*Nothing to do*/

#status {
    color: #000;
    font-size: 2em;
}
.ok {
    background-color: #AAFFAA;
}
.error {
    background-color: #FFAAAA;
}
/* search and replace */

.imputs {
    height: 21px;
}
#padsearch,
#padreplace {
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    padding: 3px;
    border: solid 1px #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 1.25;
}
/*multi select language*/

.toolbar ul li select {
    border-radius: 0;
    width: 60px;
}
/*stuff*/

.buttonicon {
    background-image: none;
}
.line {
    color: #C7C09F;
}
.term {
    color: #C2AFC6;
}
a:link {
    color: #0000FF;
}
a:visited {
    color: #3333FF;
}
a:hover {
    color: #2222FF;
    background: #EEEEEE;
}
/* file tree */

UL.jqueryFileTree A {
    color: #125;
}
UL.jqueryFileTree A:hover {
    color: #333;
    background: #EEE;
}
/* global static additions */

#myusernameform input.editable {
    font-size: 2em;
}
/* hint and curly braces */

.warn {
    background-color: #FAA;
}
.missing {
    background-color: #FAA;
}
.active {
    background-color: #000;
    color: #004;
    font-weight: bold;
}
.padsearch_line {
    background-color: #AAF;
}
.padsearch_term {
    background-color: #AFA;
    color: #000;
    font-weight: bold;
}
#syntaxes {
    background-color: #DDD;
    color: #000;
}
#padsearch {
    background-color: #DDD;
    color: #000;
}
#padreplace {
    background-color: #DDD;
    color: #000;
}
#search {
    background-color: #DDD;
    color: #000;
}
#offer {
    background-color: #DDD;
    color: #000;
}
/* default text color*/

body {
    color: #111;
}
/* LANGUAGES  -- TODO -- these are random colors*/

/* Javascript */







/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-horizontal_rule,
.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}





.hljs-gfm-link,
.hljs-link_label {
  color: #4078c0;
  /*text-decoration: underline;*/
}
.hljs-link_reference,
.hljs-link_url {
  color: #ccc;
}

/* From GitHub */
.hljs-code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
.hljs-code::before,
.hljs-code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
